.padded-top {
  padding-top: 30px;
}

#navbar-first-item {
  padding-left: 0;
}

#navbar-last-item {
  padding-right: 0;
}

.fixed-height-500px {
  height: 500px;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.chat-box {
  display: flex;
  flex-flow: column-reverse;
}

.chat-box-message{
  overflow-wrap: break-word;
}

.pre-wrap-whitespace {
  white-space: pre-wrap;
}

.ui.grid.chat-box-grid {
  margin: 0;
}

.ui.grid.chat-box-grid>.column.one-px-padding-left-right {
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 0;
}

.ui.top.left.popup.transition.visible {
  min-width: 600px;
}

.ui.bottom.left.popup.transition.visible {
  min-width: 600px;
}